.contact-hero{
padding:100px 0;
background:linear-gradient(135deg,#2563eb,#1d4ed8,#06b6d4);
text-align:center;
color:#fff;
}

.contact-hero h1{
font-size:3.2rem;
font-weight:700;
margin-bottom:20px;
}

.contact-hero p{
max-width:650px;
margin:auto;
font-size:1.1rem;
line-height:1.8;
opacity:.9;
}
